<mat-sidenav-container class="layout-container" [ngClass]="cardElevation$ | async">

  <mat-sidenav class="settings-sidenav"
               (openedStart)="openSettings()" (closedStart)="closeSettings()"
               [opened]="settingsOpen$ | async" mode="over" position="end" #options>
  </mat-sidenav>

  <div class="layout" fxLayout="column"
       [class.alpha]="layout === 'alpha'"
       [class.beta]="layout === 'beta'"
       [class.gamma]="layout === 'gamma'"
       [class.boxed]="layoutBoxed$ | async">

    <!-- Layout Beta -->
    <elastic-toolbar-beta *ngIf="layout === 'beta'"
                          [quickpanelOpen]="quickpanelOpen$ | async"
                          (toggledSidenav)="toggleSidenav()"
                          (toggledQuickpanel)="toggleQuickpanel()"></elastic-toolbar-beta>
    <!-- /Layout: Beta -->

    <!-- Layout Gamma -->
    <elastic-toolbar-gamma *ngIf="layout === 'gamma'"
                           [quickpanelOpen]="quickpanelOpen$ | async"
                           (toggledSidenav)="toggleSidenav()"
                           (toggledQuickpanel)="toggleQuickpanel()"></elastic-toolbar-gamma>
    <!-- /Layout: Gamma -->

    <elastic-toolbar-navigation *ngIf="layout === 'gamma'"></elastic-toolbar-navigation>

    <mat-sidenav-container fxFlex>

      <mat-sidenav class="quickpanel-container"
                   (openedStart)="openQuickpanel()"
                   (closedStart)="closeQuickpanel()"
                   [opened]="quickpanelOpen$ | async"
                   [position]="quickpanelAlign"
                   [mode]="quickpanelMode">
      </mat-sidenav>

      <mat-sidenav class="sidenav-container"
                   (openedStart)="openSidenav()" (closedStart)="closeSidenav()"
                   [opened]="sidenavOpen$ | async" [position]="sidenavAlign$ | async"
                   [mode]="sidenavMode$ | async" [disableClose]="sidenavDisableClose$ | async"
                   [vrSidenavCollapse]="sidenavCollapsed$ | async">

        <sidenav [layout]="layout" [collapsed]="sidenavCollapsed$ | async"
                 (toggledSidenavCollapse)="toggleSidenavCollapse()"></sidenav>

      </mat-sidenav>

      <div class="toolbar-container" fxLayout="column">
        <!-- Layout Alpha -->
        <elastic-toolbar-alpha *ngIf="layout === 'alpha'"
                               [sidenavCollapsed]="sidenavCollapsed$ | async" [quickpanelOpen]="quickpanelOpen$ | async"
                               (toggledSidenav)="toggleSidenav()" (toggledQuickpanel)="toggleQuickpanel()">
        </elastic-toolbar-alpha>
        <!-- /Layout Alpha -->

        <div class="content-container" fxFlex>
          <router-outlet></router-outlet>
        </div>

      </div>
    </mat-sidenav-container>

  </div>

</mat-sidenav-container>
