@import "../../../../../styles/_var.scss";

.sales-widget {

  .data {
    @include responsivePadding();

    .group {

      .property {

      }

      .value {
        font-size: 22px;

        &.primary {
          color: mat-color($color-primary);
        }

        &.accent {
          color: mat-color($color-accent);
        }

        &.warn {
          color: mat-color($color-warn);
        }
      }
    }
  }

  .chart {
    @include responsivePaddingHalf(top);
  }
}
