// AG-GRID

.ag-theme-material {

  .ag-header-row:nth-child(1) {
    border-bottom: 2px solid #ededed;

    .ag-header-cell {
      background-color: #f7f7f7;
    }
  }

  .ag-header-row:nth-child(2) {
    border-bottom: 2px solid #ededed;

    .ag-header-cell {
      background-color: #ededed;
    }
  }

  .ag-cell:focus {
    border: 1px solid transparent;
  }

  .ag-cell {
    user-select: initial !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -webkit-user-select: text !important;
  }

}
