@import "../../../../../styles/_var.scss";

.usertable-widget {

  .mat-header-row {
    background: $background-color;
  }

  .last-action-device {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: $color__text-dark;
    margin-right: 4px;
  }

  .progress-spinner {
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }
}

