<div class="table-sorting">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                  [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Table Sorting'" [names]="['Tables']" [header]="'primary'"></elastic-breadcrumbs>


    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- ID Column -->
        <ng-container cdkColumnDef="userId">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> ID</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> <mat-checkbox></mat-checkbox></mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="progress">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Progress</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.progress}}%</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="userName">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="color">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Color</mat-header-cell>
          <mat-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}}</mat-cell>
        </ng-container>
      </mat-table>
    </div>
  </div>
</div>
