<div fxLayout="column" fxLayoutGap="24px">
  <form [formGroup]='form' (submit)="onSave()" autocomplete="off">

    <div class="advanced-forms card alternative" fxFlex="100%" fxFlex.gt-sm style="box-shadow: none;">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="title">
            {{sidenavFormType === 'new' ? 'Add Doctor' : 'Update Doctor'}}
          </div>
        </div>
      </div>

      <div class="content" fxLayout="column" style="margin-top: 20px;">
        <div class="result" fxLayout="column">

          <mat-form-field>
            <input matInput
                   placeholder="First Name"
                   type="text"
                   [formControlName]="'firstName'">
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Last Name"
                   type="text"
                   [formControlName]="'lastName'">
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Address"
                   type="text"
                   [formControlName]="'address'">
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   [matDatepicker]="datepickerBirthday"
                   placeholder="Birthday"
                   readonly
                   [formControlName]="'birthday'">
            <mat-datepicker-toggle matSuffix [for]="datepickerBirthday"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #datepickerBirthday></mat-datepicker>

          <mat-form-field>
            <input matInput
                   placeholder="Url Photo"
                   type="text"
                   [formControlName]="'urlPhoto'">
          </mat-form-field>


          <mat-form-field style="width: 100%;">
            <input matInput
                   [matAutocomplete]="auto"
                   [formControlName]="'hospital'"
                   placeholder="Hospital">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoadingHospital | async">
              <mat-spinner diameter="50"></mat-spinner>
            </mat-option>
            <div [hidden]="isLoadingHospital | async">
              <ng-container>
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital">
                  <span>{{hospital.name}}</span>
                </mat-option>
              </ng-container>
            </div>
          </mat-autocomplete>


        </div>
      </div>

      <div class="example-button-row"
           style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
        <button mat-raised-button
                class="pull-left"
                color="primary"
                type="reset"
                (click)="closeSidenav()">
          <span>Cancel</span>
        </button>

        <button mat-raised-button
                class="pull-right"
                style="margin-left: 15px;"
                color="primary"
                type="submit"
                [disabled]="(isLoadingSave | async) || form.invalid">
          <span>Save</span>
          <span *ngIf="isLoadingSave | async" class="login-circular-btn-progress"
                style="margin-left: 5px;">
                  <mat-progress-spinner mode="indeterminate" [diameter]="20"></mat-progress-spinner>
              </span>
        </button>
      </div>

    </div>

  </form>
</div>
