@import "../../../../../styles/_var.scss";

.market-widget {
  padding: 48px 24px;
  border: 3px dashed #888;

  .title {
    font-size: 22px;
    color: $color__text-dark;

    @include responsiveMarginHalf(bottom)
  }
}
