<mat-sidenav-container [hasBackdrop]="false" style="height: 100%; background-color: white;">

  <mat-sidenav [mode]="'over'"
               [position]="'end'"
               [opened]="sidenavOpen$ | async"
               style="min-width: 600px;">
    <note-form></note-form>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;">
    <div class="simple-table" style="height: 100%;">

      <elastic-page-header [height]="'158px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                           [reverse]="true"></elastic-page-header>

      <div class="container" style="height: 85%;">

        <elastic-breadcrumbs [currentPage]="'Notes'"
                             [header]="'primary'"></elastic-breadcrumbs>

        <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">

          <ngr-grid
            [totalRows]="total"
            [pageSize]="filter?.size"
            [gridOptions]="gridOptions"
            [pageSizeOptions]="pageSizeOptions"
            (onAdd)="onAdd()"
            (onPage)="onPagination($event)"
            (onGridReady)="onGridReady($event)">
          </ngr-grid>

        </div>

      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
