<mat-sidenav-container [hasBackdrop]="false" style="height: 100%; background-color: white;">

  <mat-sidenav [mode]="'over'"
               [position]="'end'"
               [opened]="sidenavOpen$ | async"
               style="min-width: 600px;">
    <note-form></note-form>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;">
    <div class="simple-table" style="height: 100%;">

      <elastic-page-header [height]="'158px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                           [reverse]="true"></elastic-page-header>

      <div class="container" style="height: 85%;">

        <elastic-breadcrumbs [currentPage]="'Notes'"
                             [header]="'primary'"></elastic-breadcrumbs>

        <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">

          <div fxLayout="row"
               fxLayout.gt-md="column"
               style="margin-top: 110px;"
               [ngStyle.xs]="{'margin-left.px': 20, 'margin-bottom.px':-1}"
               [ngStyle.sm]="{'margin-left.px': 20, 'margin-bottom.px':-1}"
               [ngStyle.md]="{'margin-left.px': 20, 'margin-bottom.px':-1}"
               [ngStyle.lg]="{'margin-right.px': 0}"
               [ngStyle.xl]="{'margin-right.px': 0}">

            <mat-card flex="5"
                      class="animated slideInRight"
                      style="padding: 5px; width: 30px; height: 35px; cursor: pointer; animation-delay: 0.5s;"
                      [style.boxShadow]="(filterOpen$ | async) ? '': 'none'"
                      [style.borderLeft]="(filterOpen$ | async) ? '': '1px solid #dddddd'"
                      [style.borderTop]="(filterOpen$ | async) ? '': '1px solid #f0f0f0'"
                      [style.zIndex]="(filterOpen$ | async) ? '': 1"
                      (click)="clickOnFilter(filterIcon.hidden)"
                      [ngStyle.xs]="{'margin-right.px': 5, 'border-radius': '4px 4px 0px 0px'}"
                      [ngStyle.sm]="{'margin-right.px': 5, 'border-radius': '4px 4px 0px 0px'}"
                      [ngStyle.md]="{'margin-right.px': 5, 'border-radius': '4px 4px 0px 0px'}"
                      [ngStyle.lg]="{'margin-bottom.px': 5, 'border-radius': '4px 0px 0px 4px'}"
                      [ngStyle.xl]="{'margin-bottom.px': 5, 'border-radius': '4px 0px 0px 4px'}">
              <mat-icon matTooltip="Search" style="margin-top: 10px;">search</mat-icon>
            </mat-card>
          </div>

          <div [hidden]="!(filterOpen$ | async)"
               flex
               #filterIcon
               class="animated2 slideInLeft"
               [style.borderRadius]="(filterOpen$ | async) ? '': '0px 0px 0px 4px'"
               [ngStyle.xs]="{'margin-right.px': 0, 'margin-bottom.px': 5}"
               [ngStyle.sm]="{'margin-right.px': 0, 'margin-bottom.px': 5}"
               [ngStyle.md]="{'margin-right.px': 0, 'margin-bottom.px': 5}"
               [ngStyle.lg]="{'margin-right.px': -3, 'margin-top.px': 100}"
               [ngStyle.xl]="{'margin-right.px': -3, 'margin-top.px': 100}">
            <form [formGroup]='filterForm' (submit)="onApply()" autocomplete="off">
              <mat-card>
                <mat-card-title><span style="font-size: 18px;">FILTERS</span></mat-card-title>
                <mat-card-content fxLayout="column">
                  <mat-form-field fxFlex.gt-sm>
                    <input matInput
                           placeholder="Name"
                           [formControlName]="'name'"
                           name="searchBy"
                           id="searchBy"
                           type="text">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>

                  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
                    <button mat-raised-button
                            class="pull-left"
                            color="primary"
                            type="reset"
                            (click)="onReset()">
                      <span>Reset</span>
                    </button>

                    <button mat-raised-button
                            class="pull-right"
                            color="primary"
                            type="submit"
                            [disabled]="(isLoadingFilter | async) || filterForm.invalid">
                      <span>Search</span>
                      <span *ngIf="isLoadingFilter | async" class="login-circular-btn-progress"
                            style="margin-left: 5px;">
                      <mat-progress-spinner mode="indeterminate" [diameter]="20"></mat-progress-spinner>
                      </span>
                    </button>
                  </div>
                </mat-card-content>

              </mat-card>
            </form>
          </div>

          <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">

            <div
              style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;
               background-color: darkgrey; height: 60px; padding: 10px;">
              <button mat-raised-button color="primary" style="width: 70px;" (click)="onAdd();">
                <span class="login-btn-text-align">Add</span>
                <mat-icon style="font-size: 25px; margin-top: -3px;">add</mat-icon>
              </button>
            </div>

            <ag-grid-angular
              style="width: 100%; height: 100%;"
              class="ag-theme-material"
              [columnDefs]="columnDefs"
              [context]="context"
              [frameworkComponents]="frameworkComponents"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
            <mat-paginator [length]="total"
                           [pageSize]="filter?.size"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="onPagination($event)">
            </mat-paginator>
          </div>

        </div>

      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
