<mat-sidenav-container [hasBackdrop]="false" style="height: 100%; background-color: white;">

  <mat-sidenav [mode]="'over'"
               [position]="'end'"
               [opened]="sidenavOpen$ | async"
               style="min-width: 600px;">
    <note-form></note-form>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;">
    <div class="simple-table" style="height: 100%;">

      <elastic-page-header [height]="'158px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                           [reverse]="true"></elastic-page-header>

      <div class="container" style="height: 85%;">

        <elastic-breadcrumbs [currentPage]="'Notes'"
                             [header]="'primary'"></elastic-breadcrumbs>

        <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">
          <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">

            <div
              style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;
               background-color: #ededed; height: 60px; padding: 10px;">
              <button mat-raised-button color="primary" style="width: 70px;" (click)="onAdd();">
                <span class="login-btn-text-align">Add</span>
                <mat-icon style="font-size: 25px; margin-top: -3px;">add</mat-icon>
              </button>
            </div>

            <ag-grid-angular
              style="width: 100%; height: 100%;"
              class="ag-theme-material"
              [columnDefs]="columnDefs"
              [context]="context"
              [frameworkComponents]="frameworkComponents"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
            <mat-paginator [length]="total"
                           [pageSize]="filter?.size"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="onPagination($event)">
            </mat-paginator>
          </div>

        </div>

      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
