/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";

@import "styles/var";

@include mat-core();
@include angular-material-theme($theme);

@import "styles/misc";
@import "styles/card";
@import "styles/boxed";
@import "styles/tabs";
@import "styles/badges";
@import "styles/helpers";
@import "styles/tables";
@import "styles/elevation";
@import "styles/hospital";
@import "styles/components/sidenav";
@import "styles/components/quickpanel";
@import "styles/components/toolbar";
@import "styles/components/dashboard";
@import "styles/pages/profile";
@import "styles/pages/form-wizard";
@import "styles/pages/chat";
@import "styles/pages/data-queries";
@import "styles/layouts/layout-alpha";
@import "styles/layouts/layout-alpha";
@import "styles/layouts/layout-beta";
@import "styles/layouts/layout-gamma";
@import "styles/pages/components";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/ngr_grid';

button.mat-raised-button {
  border-radius: 0;
}

.mat-card {
  border-radius: 0 !important;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #737373;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
